<p style="color: red"><%= notice %></p>

<h1>New account transaction</h1>

<%= render "form", account_transaction: @account_transaction %>

<br>

<div>
  <%= link_to "Back to account transactions", account_transactions_path %>
</div>
